<app-page-header [title]="'Our Projects'"></app-page-header>

<ion-content [fullscreen]="true">
  <ion-icon name="download-outline" class="download-icon"></ion-icon>


  <div class="header ja-center ion-text-center">
    <h1 class="primary">Our Projects</h1>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
  <ion-grid>
    <!-- Dropdown filters and reset button -->
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-sm="6" size-md="4" size-lg="2" class="ion-text-center" *ngFor="let dropdown of dropdowns; let i = index">
        <ion-select
          class="outline"
          placeholder="{{ dropdown.placeholder }}"
          interface="popover"
          [(ngModel)]="dropdown.selectedOption"
          (ionChange)="onDropdownChange($event, i)">
          <ion-select-option *ngFor="let option of dropdown.options" [value]="option">{{ option }}</ion-select-option>
        </ion-select>
      </ion-col>
      <!-- Reset button -->
      <ion-col size="12" size-sm="6" size-md="4" size-lg="2" class="ion-text-center">
        <ion-button (click)="resetFilters()" class="color">Reset</ion-button>
      </ion-col>
    </ion-row>

    <!-- Custom date range picker -->
    <ion-row *ngIf="showCustomDateRange" class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-sm="10" size-md="8" size-lg="6" class="ion-text-center">
        <ion-card class="outlined-card">
          <ion-item>
            <ion-label>Start Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="startDate"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>End Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="endDate"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-button (click)="filterByDateRange()" class="color">Filter</ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Images displayed in rows -->
    <ion-row class="ion-justify-content-center ion-align-items-center images-row">
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let image of images">
        <img [src]="image.src" [alt]="image.alt" class="event-image" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
