ion-content {
    --background: #fdf6e7;
  }
  ion-card {
    ion-card-content {
      // font-family: Maven Pro !important;
      font-size: 10px;
      font-weight: 400;
      // line-height: 11.75px;
      letter-spacing: -0.01em;
      margin: 8px 10px 10px 10px;
      padding: 0px;
      color: #333;
    }
  
    ion-card-title {
      // font-family: Maven Pro !important;
      font-size: 16px;
      font-weight: 600;
  
      letter-spacing: -0.01em;
      margin: 0 10px 0 10px;
      padding: 0px;
      color: #9e2065;
    }
  }
  .card-icon {
    width: 100px;
    height: 80px;
  }
  ion-card{
    border-radius: 10px;
   }
   .card-nav {
    width: 250px;
    height: 150px;
    position: relative;
    border-radius: 10px;
  }
    .badge {
      position: absolute;
      top:10px;
      right: 10px;
    }

    .card-nav:hover{
        transform: scale(1.1);

    }