/* src/app/events-details/events-details.page.scss */
.header {
  margin-bottom: 20px;
}

.event-image {
  width: 100%;
  height: auto;
  max-width: 300px;
}


.outline {

  /* Add a light grey border */
  padding-left: 10px;
color: black;
  font-weight: 700;
 border: 1px solid #9e2065;
  text-align: center;
  margin-bottom: 20px;
}

ion-item {
  margin-bottom: 10px;
}
  
.images-row {
   
  
  ion-img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Add rounded corners to images */
  }
}

.date-card {
  width: 100%;
}
.color{
  color: white;
  margin-bottom: 20px;

}
.date-line {
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.download-icon {
  position: fixed;
  top: 80px;  /* Adjust this value as needed */
  right: 10px; /* Adjust this value as needed */
  font-size: 36px; /* Adjust the size of the icon */
  color:#9e2065; /* Change the color as needed */
  cursor: pointer;
  z-index: 1000; /* Ensure it's above other content */
}

@media (max-width: 767px) {
  .date-card {
    width: 90%;
  }
}