/* src/app/events-details/events-details.page.scss */


.event-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

ion-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
