ion-content {
    --background: #fdf6e7; /* Set the background color for ion-content */
  }
  
  
  .text-center {
    text-align: center;
  }
  
  .ion-img-centered {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
  