<ion-header>
  <ion-toolbar>
    <ion-title>Upload Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Photo Upload -->
      <ion-item>
        <ion-label position="stacked">Upload Photo</ion-label>
        <input type="file" (change)="onFileChange($event)" accept="image/*" />
      </ion-item>
      <ion-text color="danger" *ngIf="form.get('photo')?.hasError('required') && form.get('photo')?.touched">
        &nbsp; Photo is required
      </ion-text>

      <!-- Date Selection -->
      <ion-item>
        <ion-label position="floating">Select Date</ion-label>
        <ion-datetime formControlName="date" displayFormat="MM/DD/YYYY"></ion-datetime>
      </ion-item>
      <ion-text color="danger" *ngIf="form.get('date')?.hasError('required') && form.get('date')?.touched">
        &nbsp; Date is required
      </ion-text>

      <!-- Indicator Selection with Sub Indicators -->
      <ion-item>
        <ion-label position="floating">Indicator</ion-label>
        <ion-select formControlName="indicator" (ionChange)="onIndicatorChange($event)">
          <ion-select-option *ngFor="let indicator of indicators" [value]="indicator">{{ indicator.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="selectedSubIndicators.length > 0">
        <ion-label position="floating">Sub Indicators</ion-label>
        <ion-select formControlName="subIndicator">
          <ion-select-option *ngFor="let sub of selectedSubIndicators" [value]="sub">{{ sub }}</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Program Type -->
      <ion-item>
        <ion-label position="floating">Program Type</ion-label>
        <ion-input formControlName="programType"></ion-input>
      </ion-item>

      <!-- Venue -->
      <ion-item>
        <ion-label position="floating">Venue</ion-label>
        <ion-input formControlName="venue"></ion-input>
      </ion-item>

      <!-- District Selection -->
      <ion-item>
        <ion-label position="floating">District</ion-label>
        <ion-select formControlName="district">
          <ion-select-option *ngFor="let district of districts" [value]="district">{{ district }}</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Beneficiaries Count -->
      <ion-item>
        <ion-label position="floating">Beneficiaries Count</ion-label>
        <ion-input type="number" formControlName="beneficiariesCount"></ion-input>
      </ion-item>

      <!-- Gender Selection -->
      <ion-item>
        <ion-label position="floating">Gender</ion-label>
        <ion-select formControlName="gender">
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Submit Button -->
      <ion-row>
        <ion-col>
          <ion-button expand="full" type="submit" [disabled]="form.invalid">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
