<app-page-header [title]="'Inmates Count Details'"></app-page-header>




<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-img src="../../../../../../../assets/images/girl-profile.jpg"></ion-img>

      <ion-row class="ion-justify-content-center ion-align-items-center d-flex space">
        <ion-col size="12" size-md="6" size-lg="8" *ngFor="let page of detail_counts">
          <ion-item>
            <ion-icon slot="start" [name]="page.icon" color="primary"></ion-icon>
            <ion-label>
              <h3><b>{{ page.title }}</b> &nbsp; {{ page.answer }}</h3>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
