<app-page-header [title]="'My Dashboard'"></app-page-header>

<ion-content [fullscreen]="true">
  <div class="header ja-center">
    <h1 class="primary">Dashboard</h1>
  </div>

  <ion-row class="ion-justify-content-center ion-align-items-center d-flex">
    <div *ngFor="let icon of cardIcons; let i = index">
      <ion-col size="12" size-md="6">
        <ion-card [routerLink]="icon.url" class="ion-justify-content-start ion-align-items-center card-nav">
          <ion-card-content>
            <ion-img src="{{icon.imgUrl}}" class="card-icon ion-margin-top"></ion-img>
          </ion-card-content>
          <ion-card-title>{{icon.title}}</ion-card-title>
          <ion-card-content>{{icon.discription}}</ion-card-content>
        </ion-card>
      </ion-col>
    </div>
  </ion-row>


  
</ion-content>
